# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl

# Ansible
*.retry

# General
*.log
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
infra/.terraform.lock.hcl
.terraform.lock.hcl
.terraform/
crash.log
